<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hiltony.web.mapper.MemberEventHistoryMapper">

    <insert id="addMemberEventHistory" parameterType="MemberEventHistory" >
        INSERT INTO member_event_history
    (memberId,title, eventdesc, eventtime, eventtype)
    VALUES
    (#{memberId},#{title}, #{eventDesc}, #{eventTime}, #{eventType});
    </insert>

    <select id="getMemberEventHistoryList" parameterType="MemberEventHistory" resultType="MemberEventHistory">
        SELECT * from member_event_history
        <where>
            <if test="memberId!=null">
                memberId = #{memberId}
            </if>
        </where>
    </select>

</mapper>